*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
}
body{
    
    height: 50px;
    width: 100%;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color:#fff;
    color: #fff;
  
}
.navbar ul {
    display: inline-block;
    list-style-type: none;
}
.navbar ul li {
    display: inline-block;
    margin-right: 80px;
    
}

.navbar ul .log {
    font-size: 3rem ;
}

a{
    text-decoration: none;
    color: black;
}
.para h2 {
color: black;
margin-bottom: 3rem;
margin-left: 4rem;
padding-top: 10rem;
}  

.para p{
    color: black;
    margin-bottom: 2rem;
    margin-left: 4rem;
    padding-top: 0.2rem; 
}
.para img{
    width: 400px;
    height: 200px;
    border:2px solid #fff;
    box-shadow: 10px 10px 5px #ccc;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    -khtml-box-shadow: 10px 10px 5px #ccc;
    padding-left: 20px;
    margin-left: 60rem;
    margin-top: -10rem;
}

.para button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 4rem;
    border-radius: 5px;
  }
  .para .button1 {background-color: #ffa500;}
  .para .button2 {background-color: #fff;}

 .para .button2 {
    background-color: white;
    color: #ffa500;
    border: 2px solid #ffa500;
  }

  .sacho .button0 {
    background-color: #ffa500;
    color: #0e0d0d;
    border: 2px solid #ffa500;
    border-radius: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .top{
    color: black;
    margin-bottom: 3rem;
    margin-left: 4rem;
    padding-top: 10rem;
    
  }
  .top img {
    width: 8rem;
    height: 4rem;
    border:2px solid #fff;
    color: #d37537;
    -moz-box-shadow: 10px 10px 5px #ccc;
    -webkit-box-shadow: 10px 10px 5px #ccc;
    box-shadow: 10px 10px 5px #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius:25px;
    border-radius:25px;
    display: inline-block;
    margin-right: 100px;
    
  }
  .top .button3 {
    background-color: #fff;
    color: #0e0d0d;
    border: 2px solid #eee4d3;
    border-radius: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-bottom: 8rem;
  }
  .top .pol {
    color: #ec770a;
  }

  .hapi h2 {
    color: black;
    margin-bottom: 3rem;
    margin-left: 4rem;
    padding-top: 10rem;
    }  
    
    .hapi p{
        color: black;
        margin-bottom: 2rem;
        margin-left: 4rem;
        padding-top: 0.4rem; 
    }
    .hapi img{
        width: 400px;
        height: 200px;
        display: flex;
        padding: 15px;
        display: inline-block;
        margin-right: 100px;
        margin-left: 4rem;
        justify-content: center;
        display: inline-block;
    
    }
    .container {
        background-color: #fff;
        height: 30rem;
        width: 24rem;
        padding: 4rem;
        margin-bottom: 3rem;
        margin-left: 4rem;
        padding-top: 10rem;
        border: 1px solid hsl(0, 10%, 34%);
        border-radius: 25px;
        -moz-box-shadow: 10px 10px 5px #ccc;
        -webkit-box-shadow: 10px 10px 5px #ccc;
        box-shadow: 10px 10px 5px #ccc;
        -moz-border-radius:25px;
        -webkit-border-radius:25px;

    }
.container img {
    height: 10rem;
     
}
.cars {
    display: flex;
    padding-left: 100px;

}
.car1 {
    display: flex;
    padding-left: 100px;
}
.cars .container h3 {
    margin-top: -14rem;
}
.car1 .container h3 {
    margin-top: -14rem;
}
.cars .container .icon {
    margin-left: -4rem;
    margin-bottom: 1rem;
    margin-top: 12rem;
}
.contact-icons i{
	height: 40px;
	width: 40px;
	background: #5d7cfa;
	border-radius: 0.5rem;
	color: var(--main-color);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	margin-right: 10px;
	transition: all .40s ease;
}
.car1 .container .button4{
    background-color: #ffa500;
    color: #0e0d0d;
    border: 2px solid #ffa500;
    border-radius: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 18rem;
    margin-left: -2rem;
}
.cars .container .button4{
    background-color: #ffa500;
    color: #0e0d0d;
    border: 2px solid #ffa500;
    border-radius: 5px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-top: 18rem;
    margin-left: -2rem;
}